app-item-header,
app-item-content {
  padding: 5px;
}

.displayed-content {
  background-color: white;
  border-radius: 0 0 5px 5px;
  height: 50px;
  padding: 5px;
}

.hiden-content {
  background-color: white;
  height: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
}
