app-item-header {
  padding: 5px;
}

.displayed-content {
  background-color: white;
  border-radius: 0 0 5px 5px;
  min-height: 50px;
  padding: 5px;
}

.hidden-content {
  background-color: white;
  height: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
}
