.item {
  padding: 3px 0;
}

.active {
  background-color: #2196f3;
  color: #ffffff !important;
}

.switch-button {
  outline: none !important;
  border: none !important;
  overflow: hidden !important;
  padding: 0 !important;
  box-shadow: none !important;
}
