.langSwitch {
  position: absolute;
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 5px 5px;
  z-index: 1;
}

select {
  background-color: #c9cacc;
}
