<div class="flex col main">
  <div class="form-description">
    <span class="description">Show list of activities based on next preferences</span>
  </div>

  <br>
  <div class="flex col">
    <p class="label">Gender:</p>
    <div class="flex x-center">
      <p-selectButton [options]="genders" [(ngModel)]="gender" optionLabel="gender">
        <ng-template let-item>
          <div>{{item.value.name}}</div>
        </ng-template>
      </p-selectButton>
    </div>
  </div>

  <br>
  <div class="flex col">
    <div class="flex x-space-btw">
      <span class="label">Age range:</span>
      <span class="label">{{rangeValues[0] + ' - ' + rangeValues[1]}}</span>
    </div>
    <br>
    <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="0" [max]="120" [step]="1"></p-slider>
  </div>

  <br>
  <div class="flex col">
    <!-- HERE -->
  </div>
</div>
