.main {
  gap: 10px;
}

.form-box {
  padding: 10px;
}

.description {
  font-size: 1em;
}

.label {
  font-size: 1.1em;
  font-weight: bolder;
}

app-pref-picker {
  margin: 20px 0;
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 5px;
}

::ng-deep div {
  box-shadow: none !important;
}

::ng-deep .p-slider-handle {
  height: 20px !important;
  width: 20px !important;
  top: 0 !important;
}

::ng-deep .p-slider {
  background: #8d8d8d !important;
}
