<div class="sidenav">
  <div>
    <div class="sidenav-header">
      <div class="flex-item">
        <span>Login Name</span>
      </div>
      <div class="flex-item">
        <mat-icon>person</mat-icon>
      </div>
    </div>
    <div class="sidenav-content">
      <div class="menu-items">
        <div class="flex-container">
          <div class="flex-item">
            <mat-icon class="menu-icon">settings_applications</mat-icon>
          </div>
          <div class="flex-item">
            <span>Settings</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidenav-footer">
    <div class="flex-item">
      <span>Log out</span>
    </div>
    <div class="flex-item">
      <mat-icon>exit_to_app</mat-icon>
    </div>
  </div>
</div>
