.sidenav {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 0.9em;
  padding: 5px;
}

.content {
  padding: 5px;
}

.footer {
  display: flex;
  padding: 5px;
}

.item {
  padding: 20px 0;
}

.nav-button {
  outline: none !important;
  border: none !important;
  overflow: hidden !important;
  padding: 0 !important;
  box-shadow: none !important;
  color: #4b4b4b !important;

  span {
    outline: none !important;
  }
}
