<div class="flex col full sidenav y-space-btw">
  <div class="flex col full">
    <div class="flex row x-space-btw header">
      <span>Login Name</span>
      <i class="pi pi-user"></i>
    </div>

    <div class="flex col full content">
      <div class="flex row x-space-evn item">
        <i class="pi pi-cog"></i>
        <span>Settings</span>
      </div>
      <div class="flex row x-space-evn item">
        <i class="pi pi-cog"></i>
        <span>Settings</span>
      </div>
    </div>
  </div>
  <div class="flex row x-space-evn footer">
    <span>Log out</span>
    <i class="pi pi-sign-out"></i>
  </div>
