// button {
//   border: none;
//   cursor: pointer;
// }

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.sidenav-header {
  display: flex;
  padding: 5px;
  background-color: #1b1f27;
  justify-content: space-between;
}

.sidenav-content {
  padding: 5px;
}

.sidenav-footer {
  display: flex;
  padding: 5px;
  background-color: #1b1f27;
  justify-content: space-between;
}

.menu-items {
  height: 100%;
  display: flex;
  flex-direction: column;

  div {
    margin-top: 10px;
  }

  .flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}

.menu-icon {
  vertical-align: middle;
  font-size: 20px;
  width: auto;
  height: auto;
}

.flex-container {
  display: flex;
}
