<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="form-box">
    <input type="text" class="form-input" formControlName="uName" name="login" placeholder="Login">
    <p class="form-error">{{getErrorMsg('uName') | translate}}</p>
  </div>

   <div class="form-box">
    <input [type]="hide?'password':'text'" class="form-input" formControlName="uPassword" autocomplete="new-password" name="password" placeholder="Password">
    <p class="form-error">{{getErrorMsg('uPassword') | translate}}</p>
  </div>

  <ng-container *ngIf="!isLoginRoute">
    <div class="form-box">
      <input type="email" class="form-input" formControlName="uEmail" name="email" placeholder="Email">
      <p class="form-error">{{getErrorMsg('uEmail') | translate}}</p>
    </div>

    <div class="form-box">
      <div class="form-date-box">
        <select name="day">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        <select name="month">
          <option value="Jan">Jan</option>
          <option value="Feb">Feb</option>
        </select>
        <select name="year">
          <option value="2010">2010</option>
          <option value="2011">2011</option>
        </select>
      </div>
      <p class="form-error">{{getErrorMsg('uData') | translate}}</p>
    </div>

  </ng-container>

  <div class="form-box">
    <button class="button-submit">{{(isLoginRoute? 'login-form.LOGIN_BUTTON'  : 'login-form.SIGN_UP_BUTTON') | translate}}</button>
  </div>
</form>
