.form-box {
  margin-top: 15px;
}

.btn-submmit {
  width: 100%;
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
}

.mat-icon-button .mat-button-wrapper {
  display: flex;
  justify-content: center;
}

.btn-submmit {
  margin-top: 0;
}

.mat-icon {
  font-size: 150% !important;
  color: #333333;
}
