button {
  border: none;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  color: azure;
}

.sidenav-desktop {
  background-color: #4e5963;
  min-width: 15%;
  color: azure;
}

.sidenav-mobile {
  background-color: #4e5963;
  min-width: 45%;
  color: azure;
}

.toolbar {
  height: auto;
  padding: 2px;
  align-items: center;
  align-content: center;
}

.component {
  padding: 5px;
  background-color: rgb(238, 238, 238);
  margin: 10px 20px;
}

.toolbar-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

.toolbar-button {
  display: flex;
  width: 10%;
}
// .example-spacer {
//   flex: 1 1 auto;
// }
