<mat-drawer-container class="container" autosize (window:resize)="onResize()">
  <mat-drawer
    [ngClass]="isMobile ? 'sidenav-mobile' : 'sidenav-desktop'"
    mode="over"
    #drawer
  >
    <div class="sidenav">
      <div>
        <div class="sidenav-header">
          <div class="flex-item">
            <span>Login Name</span>
          </div>
          <div class="flex-item">
            <mat-icon>person</mat-icon>
          </div>
        </div>
        <div class="sidenav-content">
          <div class="menu-items">
            <div class="flex-container">
              <div class="flex-item">
                <mat-icon class="menu-icon">settings_applications</mat-icon>
              </div>
              <div class="flex-item">
                <span>Settings</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidenav-footer">
        <div class="flex-item">
          <span>Log out</span>
        </div>
        <div class="flex-item">
          <mat-icon>exit_to_app</mat-icon>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="main">
    <mat-toolbar class="example">
      <button
        mat-icon-button
        aria-label="Menu toggle"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content">
      <span>Contents</span>
    </div>
  </div>
</mat-drawer-container>
