.login-container {
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.form-container {
  padding: 10px;
  width: 250px;
  height: 250px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(108, 88, 55, 0.3) 0%,
    rgba(143, 24, 122, 0.5) 20%,
    rgba(27, 171, 50, 0.7) 50%,
    rgba(143, 24, 122, 0.5) 80%,
    rgba(108, 88, 55, 0.3) 100%
  );
}

@media only screen and (max-width: 768px) {
  .form-container {
    align-self: center;
    margin: auto;
  }
}
